extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Quisque turpis lacus, posuere ac nulla nec, mollis vestibulum purus. Ut faucibus interdum odio, ultrices mattis turpis convallis id. In iaculis efficitur lectus, vitae placerat ipsum auctor ac. 
                p  Nunc bibendum eget neque a mollis. Donec dignissim ipsum ut congue consequat. Morbi ornare est vel volutpat vulputate. Sed feugiat leo lacus, at bibendum ligula laoreet quis. Nunc bibendum eget neque a mollis. Donec dignissim ipsum ut congue consequat. Morbi ornare est vel volutpat vulputate. Aliquam dapibus ac massa a ullamcorper. 
                p Maecenas eget odio sit amet ipsum ultrices rhoncus. Suspendisse laoreet urna at bibendum tempus.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", class="img-fluid  mb-4")
                    h2.mb-4 Seguridad
                    p Nunc bibendum eget neque a mollis. Donec dignissim ipsum ut congue consequat. Morbi ornare est vel volutpat vulputate

                .col-md-4
                    img(src="/img/icono_destinos.svg", class="img-fluid  mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nunc bibendum eget neque a mollis. Donec dignissim ipsum ut congue consequat. Morbi ornare est vel volutpat vulputate

                .col-md-4
                    img(src="/img/icono_precio.svg", class="img-fluid  mb-4")
                    h2.mb-4 Mejor Precio
                    p Nunc bibendum eget neque a mollis. Donec dignissim ipsum ut congue consequat. Morbi ornare est vel volutpat vulputate
